html{
    background-color: azure;
}
header{
 background-color: rgb(7, 59, 7);
 color: gold;
 font-size: 1.2vw;
}
li{
    display: inline;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 10%;
}
a{
    text-decoration: none;
    color: gold;
}
button{
    height: 4vw;
    width: 10vw;
    font-size: 1.2vw;
}
.div1{
float: left;
width: 50%;
}
.div2{
float: right;
    margin-bottom: 3vw;
}
.home{
    font-size: 3vw;
}
.homepage{
    margin-bottom: 3vw;
    margin-top: 3vw;
    margin-left: 5%;
    margin-right: 5%;
}
#home{
    font-size: 1.5vw;
}
.pag{
    height: 3vw;
    width: 8vw;
    margin-bottom: 10vw;
    background-color: rgb(7, 59, 7);
    color: gold;
}
.about{
    position: relative;
    right: 45%;
}
.div3{
    width: 100%;
}
.cows{

}
.form1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.feeds{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form2{
    display: flex;
    justify-content: space-between;
}
.community{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: rgb(8, 59, 8);
    color: gold;
    height: 20vw;
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.2vw;
    padding-left: 5%;
    padding-right: 7%;
}
.images{
    width: 20vw;
    height: 20vw;
}