html{
    background-color: azure;
}
header{
 background-color: rgb(7, 59, 7);
 color: gold;
 font-size: 1.2vw;
}
li{
    display: inline;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 10%;
}
a{
    text-decoration: none;
    color: gold;
}
button{
    height: 4vw;
    width: 10vw;
    font-size: 1.2vw;
}
.home{
    font-size: 3vw;
}
.homepage{
    display:flex;
    justify-content: space-between;
    margin-bottom: 3vw;
    margin-top: 3vw;
    margin-left: 5%;
    margin-right: 5%;
}
.img{
    margin: 0%;
    padding: 0%;
}
#home{
    font-size: 1.5vw;
}
.pag{
    height: 3vw;
    width: 8vw;
    margin-bottom: 10vw;
    background-color: rgb(7, 59, 7);
    color: gold;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input{
    width: 10vw;
}

.shed{
    width: 5vw;
    height: 1.5vw;
}